<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_Ichefservice" />
                <binding name="WSHttpBinding_Icustomerservice" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/ChefService/ChefService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Ichefservice"
                contract="ServiceReference2.Ichefservice" name="WSHttpBinding_Ichefservice">
                <identity>
                    <userPrincipalName value="VARIJA\varij" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/CustomerService/CustomerService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_Icustomerservice"
                contract="CustomerServiceRef.Icustomerservice" name="WSHttpBinding_Icustomerservice">
                <identity>
                    <userPrincipalName value="VARIJA\varij" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>