<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<system.serviceModel>
	<services>
		<service name="chef_servicelibrary.ChefService" behaviorConfiguration="ChefServiceBehavior">
			<endpoint
				address="ChefService"
				binding="wsHttpBinding"
				contract="chef_servicelibrary.Ichefservice"
				/>
			
		</service>
		<service name="fooditems_servicelibrary.FoodItemService" behaviorConfiguration="FoodItemServiceBehavior">
			<endpoint
				address="FoodItemService"
				binding="wsHttpBinding"
				contract="fooditems_servicelibrary.Ifooditemsservice"
				/>

		</service>

		<service name="customer_servicelibrary.CustomerService" behaviorConfiguration="CustomerServiceBehavior">
			<endpoint
				address="CustomerService"
				binding="wsHttpBinding"
				contract="customer_servicelibrary.Icustomerservice"
				/>
			
		</service>
		<service name="order_servicelibrary.OrderService" behaviorConfiguration="OrderServiceBehavior">
			<endpoint
				address="OrderService"
				binding="wsHttpBinding"
				contract="order_servicelibrary.Iorder"
				/>

		</service>
	</services>
	
	<behaviors>
		<serviceBehaviors>
			<behavior name="ChefServiceBehavior" >
				<serviceMetadata httpGetEnabled="True" />
			</behavior>
			<behavior name="FoodItemServiceBehavior">
				<serviceMetadata httpGetEnabled="True"/>
			</behavior>
			<behavior name="CustomerServiceBehavior">
				<serviceMetadata httpGetEnabled="True"/>
			</behavior>
			<behavior name="OrderServiceBehavior">
				<serviceMetadata httpGetEnabled="True"/>
			</behavior>
		</serviceBehaviors>
	</behaviors>
   </system.serviceModel>
</configuration>